body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}

/*cards*/
.cards-ds{
    display: flex;
    flex-direction: column;
}
.card-cat{
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.card-icone{
    margin-right: 1em;
}
.custom{
    font-size: 30px !important;
}

/*buttons*/
.df-button{
    background-color: black;
    border-radius: 10px;
}
.df-button button{
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 1em;
    margin: 0 3em;
}

.df-button a{
    width: fit-content;
}

/*Icone*/
.icone-avatar{
    width: 3.125em;
    height: 3.125em;
    background-image: url(https://i.kym-cdn.com/photos/images/original/002/601/167/c81);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 1px solid white;
}

/*input*/
.inputValues{
    border: none;
    background-color: #E6E6E6;
    font-size: 18px;
    padding: 0;
}

/* Recorrencia animacao*/
.animacao-rotacao {
    color: red;
    transform: rotate(120deg);
  }
  