body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}

header{
    display: flex;
    padding: 16px;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
  }

/*Hamburger menu e animacao*/
.icone-hamburger {
    width: 40px;
    display: flex;
    flex-direction: column;
  }
.icone-hamburger:before,
.icone-hamburger:after,
.icone-hamburger span {
  background: #fff;
  content: "";
  height: 6px;
  border-radius: 3px;
  margin: 3px 0;
  transition: 0.5s;
}
.menu-lateral__active:before {
  transform: translateY(12px) rotate(135deg);
}
.menu-lateral__active:after {
  transform: translateY(-12px) rotate(-135deg);
}
.menu-lateral__active span {
  transform: scale(0);
}

/*Avatar*/

.material-symbols-outlined{
    font-size: 50px !important;
    color: white;
}

/**/
.economia{
  background-color: black;
  color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
.econ-dados{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.econ-dados div{
  margin: 10px;
}
.econ-dados div p:nth-child(even){
  font-size: 22px;
}

.econ-dados__saldo{
  width: 100%;
}

.econ-botoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.econ-botoes div{
  width: 20%;
  height: 75px;
  background-color: #363636;
  border-radius: 15px;
  padding: 1em;
  font-size: 8px;
}

