body{
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.material-symbols-outlined{
    font-size: 65px !important;
}
.welcomeMessage{
    margin: 50px 0;
    font-size: 25px;
    font-weight: bold;
}
.orMsg{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0px 25px 0;
}
.btn-google__logo{
    background-image: url(/assets/img/google-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #E6E6E6;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    margin-right: 13px;
}

.btn-fintech{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 10px;
    margin: 25px 0;
    width: 252px;
    height: 42px;
}

.btn-fintech__entrar{
    font-size: 18px;
}
.btn-fintech__entrar a{
    color: #e6e6e6;
}

.form-control__fintech{
    width: 252px;
    height: 42px;
    border: 2px solid black;
    background-color: #E6E6E6;
}
.form-label__fintech{
    background-color: #E6E6E6;
    position: absolute;
    left: 62px;
}

.form-label__fintech-email{
    top:337px
}
.form-label__fintech-senha{
    top:394px
}

.senha-msg{
    margin-bottom: 10px;
}