header{
    background-color: black;
    display: flex;
    padding: 1em;
    color:white;
    align-items: center;
}
header a{
    color: white;
}
main{
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-texto{
    margin-left: 1em;
    font-size: 18px;
}

.avatar-page{
    width: 12em !important;
    height: 12em !important;
    border: 3px solid black !important;
    margin-top: 1em;
}

.name-forms{
    margin-top: 3em;
    width: 80%;
}

.df-button{
    background-color: black;
    border-radius: 10px;
}
.df-button button{
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 1em;
    margin: 0 3em;
}

.df-button a{
    width: fit-content;
}
.redef-senha{
    margin-top: 1em;
}

.salvar-button{
    margin-top: 2em;
}
.sair-button{
    margin-top: 6em;
}

