header{
    background-color: black;
    display: flex;
    padding: 1em;
    color:white;
    align-items: center;
}
header a{
    color: white;
}
main{
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-texto{
    margin-left: 1em;
    font-size: 18px;
}

.avatar-page{
    width: 12em !important;
    height: 12em !important;
    border: 3px solid black !important;
    margin-top: 1em;
}

.name-forms{
    margin-top: 3em;
    width: 80%;
}

.sair-button{
    margin-top: 5em;
}

.sair-button a, .sair-button button{
    padding: 1em;
    line-height: 0;
}
